# dont commit venv stuffs or other artifacts
.venv/*
*.egg-info
build/*
*.pyc

# dont commit data folder contents
data/*

# dont commit empty script for testing stuff
temp.py

# Gavin specific scripts for making mongodb go
tools/start_mongodb.sh
tools/stop_mongodb.sh
.vscode/settings.json
